@{
    ViewData["Title"] = "Attendance";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>

    <div class="app-content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-3 col-6">

                    <div class="small-box text-bg-primary">
                        <div class="inner">
                            <h3>150</h3>
                            <p>Total Organisation</p>
                        </div>


                    </div>

                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box text-bg-success">
                        <div class="inner">
                            <h3>53<sup class="fs-5">%</sup></h3>
                            <p>Total Organisation</p>
                        </div>


                    </div>

                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box text-bg-warning">
                        <div class="inner">
                            <h3>44</h3>
                            <p>Absent</p>
                        </div>


                    </div>

                </div>

            </div>


        </div>

    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Staff Attendance </h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Staff Name</th>

                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="pages/examples/invoice.html"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">OR9842</a>
                            </td>
                            <td>Call of Duty IV</td>

                            <td><div id="table-sparkline-1"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="pages/examples/invoice.html"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">OR1848</a>
                            </td>
                            <td>Samsung Smart TV</td>

                            <td><div id="table-sparkline-2"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="pages/examples/invoice.html"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">OR7429</a>
                            </td>
                            <td>iPhone 6 Plus</td>

                            <td><div id="table-sparkline-3"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="pages/examples/invoice.html"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">OR7429</a>
                            </td>
                            <td>Samsung Smart TV</td>

                            <td><div id="table-sparkline-4"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="pages/examples/invoice.html"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">OR1848</a>
                            </td>
                            <td>Samsung Smart TV</td>

                            <td><div id="table-sparkline-5"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="pages/examples/invoice.html"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">OR7429</a>
                            </td>
                            <td>iPhone 6 Plus</td>

                            <td><div id="table-sparkline-6"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="pages/examples/invoice.html"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">OR9842</a>
                            </td>
                            <td>Call of Duty IV</td>

                            <td><div id="table-sparkline-7"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>

    </div>
</main>