@model MonthlyReportViewModel
@{
    Layout = null;
    ViewData["Title"] = "Monthly Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var dataTable = ViewData["ReportData"] as System.Data.DataTable;
    // int daysInMonth = Convert.ToInt32(ViewData["daysInMonth"]);
    // var Month = ViewData["Month"];
    // var dataTable = Model.ReportData; // Fetch DataTable from model
    // int daysInMonth = Model.DaysInMonth;
    // var month = Model.Month;
}

+



<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Staff List</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>

    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <input type="month" name="monthyear" value="@DateTime.Now.ToString("yyyy-MM")" class="form-control" />
                    </div>
                     <div class="col-md-3 mb-3">
                      
                        <div class="col-lg-12">
                            <select id="inputState" class="form-control" name="SelectedstaffType" required>
                                <option value="" disabled selected>Choose Staff type</option>
                                <option value="1">Teaching</option>
                                <option value="2">Non-Teaching</option>
                                <option value="3">Transport</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" asp-action="MonthlyReport" asp-controller="Report">Show Attendance</button>

                    </div>
                </div>

            </form>




        </div>

    </div>

</main>
